In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [7]:
def sMAPE(actual_values, predicted_values, expsMAPE = False):
  '''
  logY를 regression하는 경우에 expsMAPE = True로 입력, 아니면 expsMAPE = False로 놔두면 됨
  reg_sMAPE = GridSearchCV(RandomForestRegressor(), {}, scoring=make_scorer(sMAPE, greater_is_better=False)) 이런식으로 쓰면됨
  reg_sMAPE.fit(x,y)
  '''
  if expsMAPE == True:
    predicted_values = np.exp(predicted_values)
    actual_values = np.exp(actual_values)
  return 1/len(actual_values) * np.sum(2*np.abs(actual_values - predicted_values) / (np.abs(actual_values) + np.abs(predicted_values)) * 100)

Average로 해보기

일단 최근 (2, 3, 4)개 average로 (곱하기 상수)

In [12]:
df = pd.read_csv('/gdrive/My Drive/DS_contest/Examdatathree_Interpolation_2.csv')

In [13]:
df

     Unnamed: 0  Unnamed: 0.1   No  ...  normal     J_t_pred  Interpolated X_t
0             0             0  724  ...       0  1714.250000        213.206670
1             1             1  724  ...       1  1714.250000        186.228753
2             2             2  724  ...       1  1714.250000        159.250836
3             3             3  724  ...       1  1714.250000        202.399065
4             4             4  724  ...       1  1714.250000        121.823107
..          ...           ...  ...  ...     ...          ...               ...
285         285           285  863  ...       1  1535.571429         45.330493
286         286           286  863  ...       0  1535.571429         58.782496
287         287           287  863  ...       0  1535.571429         72.234498
288         288           288  863  ...       1  1535.571429         85.686501
289         289           289  863  ...       1  1535.571429         67.659155

[290 rows x 13 columns]

In [14]:
df['X_t'] = df['Interpolated X_t']
df = df.drop(['Unnamed: 0','Unnamed: 0.1', 'Interpolated X_t', 'normal', 'time', 'J_t'],axis=1)
df

      No  PRICE ($)  ...         X_t     J_t_pred
0    724     292000  ...  213.206670  1714.250000
1    724     292000  ...  186.228753  1714.250000
2    724     292000  ...  159.250836  1714.250000
3    724     292000  ...  202.399065  1714.250000
4    724     292000  ...  121.823107  1714.250000
..   ...        ...  ...         ...          ...
285  863     591000  ...   45.330493  1535.571429
286  863     591000  ...   58.782496  1535.571429
287  863     591000  ...   72.234498  1535.571429
288  863     591000  ...   85.686501  1535.571429
289  863     591000  ...   67.659155  1535.571429

[290 rows x 7 columns]

In [20]:
data2 = []
for i in range(29):
  data2.append(df.iloc[10*i:10*i+10])
data2[0]

    No  PRICE ($)  Per Month Operation Cost ($)  ...  ID index         X_t  J_t_pred
0  724     292000                         30000  ...         0  213.206670   1714.25
1  724     292000                         30000  ...         0  186.228753   1714.25
2  724     292000                         30000  ...         0  159.250836   1714.25
3  724     292000                         30000  ...         0  202.399065   1714.25
4  724     292000                         30000  ...         0  121.823107   1714.25
5  724     292000                         30000  ...         0   32.313546   1714.25
6  724     292000                         30000  ...         0   25.731257   1714.25
7  724     292000                         30000  ...         0   19.148967   1714.25
8  724     292000                         30000  ...         0   14.390693   1714.25
9  724     292000                         30000  ...         0   19.794753   1714.25

[10 rows x 7 columns]

In [21]:
for i in range(29):
  data2[i] = data2[i].transpose()

In [22]:
for i in range(29):
  data2[i].rename(columns = {10*i:0,10*i+1:1,10*i+2:2,10*i+3:3,10*i+4:4,10*i+5:5,10*i+6:6,10*i+7:7,10*i+8:8,10*i+9:9},inplace=True)
data2[1]

                                          0  ...              9
No                               727.000000  ...     727.000000
PRICE ($)                     931000.000000  ...  931000.000000
Per Month Operation Cost ($)   50000.000000  ...   50000.000000
Y_t                           114879.000000  ...   90135.000000
ID index                           1.000000  ...       1.000000
X_t                              260.526277  ...      41.403307
J_t_pred                        2067.222222  ...    2067.222222

[7 rows x 10 columns]

In [23]:
for i in range(29):
  data2[i] = data2[i].transpose()
data2[1]

      No  PRICE ($)  ...         X_t     J_t_pred
0  727.0   931000.0  ...  260.526277  2067.222222
1  727.0   931000.0  ...  207.709091  2067.222222
2  727.0   931000.0  ...  154.891905  2067.222222
3  727.0   931000.0  ...  113.479326  2067.222222
4  727.0   931000.0  ...   74.230374  2067.222222
5  727.0   931000.0  ...   68.339054  2067.222222
6  727.0   931000.0  ...   53.715588  2067.222222
7  727.0   931000.0  ...   44.826685  2067.222222
8  727.0   931000.0  ...   44.479907  2067.222222
9  727.0   931000.0  ...   41.403307  2067.222222

[10 rows x 7 columns]

In [25]:
y_pred_final = []
for i in range(29):
  y_pred_final.append((0.4*data2[i]['X_t'][7]+data2[i]['X_t'][8]+8.2*data2[i]['X_t'][9])*data2[i]['J_t_pred'][0]*20/96 *0.89)

In [27]:
data2[0]

      No  PRICE ($)  ...         X_t  J_t_pred
0  724.0   292000.0  ...  213.206670   1714.25
1  724.0   292000.0  ...  186.228753   1714.25
2  724.0   292000.0  ...  159.250836   1714.25
3  724.0   292000.0  ...  202.399065   1714.25
4  724.0   292000.0  ...  121.823107   1714.25
5  724.0   292000.0  ...   32.313546   1714.25
6  724.0   292000.0  ...   25.731257   1714.25
7  724.0   292000.0  ...   19.148967   1714.25
8  724.0   292000.0  ...   14.390693   1714.25
9  724.0   292000.0  ...   19.794753   1714.25

[10 rows x 7 columns]

In [26]:
y_pred_final

[58601.22809345412,
 154054.0311750162,
 156861.60031775897,
 103862.35283794386,
 81565.81976665961,
 88845.4595818289,
 13147.951843448745,
 136475.0052392485,
 312935.64693025465,
 144255.64522736645,
 134108.89620869546,
 156024.78408387973,
 217504.6195636994,
 220139.15167657248,
 148949.93968505706,
 82097.32233494293,
 242757.14701195803,
 188847.88198018796,
 328738.0020594283,
 160643.1662776284,
 158813.39068244796,
 236064.48889565733,
 99503.96922655613,
 59295.852452996434,
 113095.23353697621,
 101891.91353523044,
 173587.30119877064,
 25177.248399290438,
 190587.76132058332]

In [28]:
df = pd.Series(y_pred_final)
df

0      58601.228093
1     154054.031175
2     156861.600318
3     103862.352838
4      81565.819767
5      88845.459582
6      13147.951843
7     136475.005239
8     312935.646930
9     144255.645227
10    134108.896209
11    156024.784084
12    217504.619564
13    220139.151677
14    148949.939685
15     82097.322335
16    242757.147012
17    188847.881980
18    328738.002059
19    160643.166278
20    158813.390682
21    236064.488896
22     99503.969227
23     59295.852453
24    113095.233537
25    101891.913535
26    173587.301199
27     25177.248399
28    190587.761321
dtype: float64

In [29]:
df.to_frame().to_csv('/gdrive/My Drive/DS_contest/Weighted_Average.csv')